@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

.page-header {
  display: flex;
  margin: 0 70px;
}

.logo {
  display: block;
  width: 139px;
  margin-right: 30px;
}

.navigation {
  width: 891px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 390px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  max-width: 300px;
}

.navigation-user .navigation-link {
  padding: 0;
}

.navigation-user .navigation-item {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.navigation-button {
  min-width: 160px;
  padding: 9px 15px 8px;
  margin: 14px 0 14px 20px;
}

/* Main-index */

.main-index {
  display: flex;
  flex-direction: column;
}

.greetings {
  display: flex;
  flex-direction: column;
  background: url("../images/background/index-background.jpg") no-repeat 50% 0/100% auto;
  text-align: center;
}

.greetings-image {
  display: block;
  margin: 50px auto 145px;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-description {
  font-size: 22px;
  color: #333333;
}

.advantages-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-sublist {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-block {
  width: 400px;
}

.advantages-photo {
  width: 800px;
}

.advantages-image {
  vertical-align: middle;
}

.advantages-subitem {
  width: 400px;
}

.advantages-title,
.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
}
.advantages-block,
.advantages-subitem:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-block-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-block-blue .advantages-description {
  color: #ffffff;
}

.advantages-block-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.interesting {
  text-align: center;
}

.subscription {
  background: #82B3D3 url("../images/background/subscribe-background.jpg") no-repeat 50% 0/100% auto;
  color: #ffffff;
  text-align: center;
}

.subscription-description {
  color: #ffffff;
}

.main-button {
  font-size: 20px;
  line-height: 36px;
}

.button-additional {
  background-color: #82B3D3;
}

/* Footer */

.page-footer {
  display: flex;
  margin: 40px 70px 30px;
}

.footer-contacts-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social {
  max-width: 145px;
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
}

.footer-social-link {
  width: 33%;
}

.footer-contacts {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-academylogo {
  width: 115px;
  margin-left: auto;
}

/* Catalog */

.main-inner {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 35px 70px 70px;
  background: rgba(131, 179, 211, 0.2) url("../images/background/catalog-background.jpg") no-repeat 50% 0/100% auto;
  color: #ffffff;
}

.inner-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 500px;
  margin-bottom: 40px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  font-style: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-group-left {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.filter-catalog-infrastructure {
  max-width: 155px;
}

.filter-catalog-housing {
  max-width: 150px;
}

.filter-group-right {
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-catalog-price {
  max-width: 290px;
}

.filter-buttons {
  max-width: 165px;
}

.filter-catalog-group {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.filter-catalog-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-range {
  opacity: .3;
}

.button-reset {
  background-color: rgba(131, 179, 211, 0);
  text-transform: none;
  font-weight: 400;
}

.hotel-group {
  display: flex;
  flex-direction: column;
}

.hotel-group-filter {
  width: 1057px;
  display: flex;
  margin: 50px auto 56px;
  align-items: center;
}

.hotel-group-viewer {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.hotel-group-button {
  width: 48px;
}

.hotel-group-quantity {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 191px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-control-type {
  width: 290px;
}

.hotel-card-container {
  width: 1056px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 96px;
}

.hotel-card {
  width: 340px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-style: inherit;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-info {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
}

.hotel-group-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.button-active {
  background-color: #7DB54F;
}

.pagination {
  width: 1056px;
  display: flex;
  align-items: center;
  margin: 0 auto 25px;
}

.pagination-list {
  width: 400px;
  display: flex;
  margin: 0 270px 0 0;
  padding: 0;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-style: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.subscription-catalog {
  background: none;
}

.subscription-catalog-title {
  color: #000000;
}

.subscription-email-input {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: .6;
}
